<!doctype html>
<html lang="en" ng-app="ToDoList">
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <link href="css/main.css" rel="stylesheet" />
    <script src="js/app.js"></script>
    <script src="js/toDoListController.js"></script>
  </head>

  <body ng-controller="ToDoListController as tdCtrl">
    <div class="header">
      <div class="jumbotron">
        <h1> My List </h1>
        <input type="text" ng-model="tdCtrl.task">
        <button class="add btn btn-danger" ng-click="tdCtrl.addTask()">Add Task!</button>
        <button class="clear btn btn-primary" ng-click="tdCtrl.clearCompleted()">Clear Done Tasks!</button>
      </div>

      <div class="container">
        <div ng-repeat="task in tdCtrl.taskList" class="taskList">
          <input type="checkbox" ng-model="deleted" ng-click="tdCtrl.taskDone($index)">
          <p ng-class="{strike: deleted}">{{ task.taskName }}</p>
          <button class="remove btn btn-warning btn-xs" ng-click="tdCtrl.deleteTask()">deleteTask!</button>

        </div>
      </div>
    </div>



  </body>
</html>
